@import (less) "vendor/normalize.css";
@import (less) "vendor/sliderkit.css";

body {
  background: #E8E7E3 url(images/bg.jpg) repeat;
}

.clearfix {
  clear: both;
}

.header, .footer {
  background: #000 url(images/header.jpg) repeat-x;
  height: 138px;
}

.logo {
  display: block;
  @ratio: (709 / 200);
  @width: 425px;
  @height: @width / @ratio;
  width: @width;
  height: @height;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: (@width / -2);
  img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  height: 80px;
  .footer-copy {
    text-align: center;
    padding: 30px 10px;
    color: #FFF;
    font-size: 12px;
  }
}

.container {
  max-width: 978px;
  margin-left: auto;
  margin-right: auto;
}

.hr {
  height: 30px;
  margin-bottom: 30px;
}

.hr-bg {
  background: url(images/hr.png) no-repeat center bottom;
}

.menu-container {
  .menu {
    @height: 50px;
    height: @height;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    a {
      float: left;
      display: block;
      width: (100% / 6);
      height: @height;
      color: #333;
      text-align: center;
      line-height: @height;
      text-decoration: none;
      font-size: 16px;
      &:hover {
        color: #8C5B16;
      }
    }
  }
}

.home-slider {
  width: 978px;
  height: 446px;
  margin: 10px auto;
}
.home-slider .sliderkit-nav {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.home-slider .sliderkit-nav-clip ul li {
  float: left;
  margin: 0 3px 0 0;
}
.home-slider .sliderkit-nav-clip ul li a {
  display: block;
  width: 16px;
  height: 16px;
  color: #fff;
  background: #888;
}
.home-slider .sliderkit-nav-clip ul li.sliderkit-selected a {
  background: #fff;
}
.home-slider .sliderkit-nav-clip ul a:hover {
}

.col-3 {
  .col-3-item {
    float: left;
    width: (100% / 3);
    height: 250px;
    h3 {
      text-align: center;
    }
    a {
      display: block;
      text-align: center;
      margin: 0 38px 0 31px; // 31 = 38 - 4 - 3
    }
    img {
      padding: 4px;
      position: relative;
      border: 3px solid #C7C8C0;
      background: #FFF;
      width: 100%;
    }
  }
}

.line {
  background: url(images/line.png) no-repeat center top;
  height: 33px;
  margin-top: -22px;
  text-align: center;
  padding: 7px 75px 30px;
  color: #ACACA5;
}

.spl {
  .spl-left {
    float: left;
    width: 300px;
  }
  .spl-right {
    padding: 10px 10px 50px 320px;
  }
  .spl-bread {
    padding: 10px 0;
    font-size: 14px;
  }
  .spl-content {
    line-height: 28px;
    font-size: 15px;
    p {
      text-indent: 28px;
    }
  }
  .spl-nav {
    padding: 10px;
    .spl-nav-header, .spl-nav-item {
      margin: 0;
      padding: 10px;
      font-weight: normal;
      font-size: 14px;
      display: block;
    }
    .spl-nav-header {
      background: #000 url(images/header.jpg) repeat-x center bottom;
      color: #fff;
    }
    .spl-nav-item {
      margin-left: 5px;
      margin-right: 5px;
    }
    a {
      background: #C4C4BE;
      color: #000;
      text-decoration: none;
      &:hover, &.active {
        color: #000;
        background: #ACACA5;
        text-decoration: none;
      }
    }
  }
}
