---
layout: default.hbs
---
<div class="bread hr-bg">
  当前位置：
  <a href="/">首页</a>
  &raquo;
  <a href="/news/">五金资讯</a>
  &raquo;
  <a href="{{permalink}}">{{title}}</a>
</div>
<div class="news-content">
  <h3 class="title">{{title}}</h3>
  <em class="date">{{formatDate date "%Y-%m-%d"}}</em>
  <hr class="break">
  {{>body}}
</div>
