---
layout: default.hbs
---
<div class="bread hr-bg">
  当前位置：
  <a href="/">首页</a>
  &raquo;
  <a href="/products/">产品中心</a>
  &raquo;
  <a href="{{permalink}}">{{title}}</a>
</div>
<div class="half-container">
  <div class="half">
    <div class="half-content">
      <div class="half-image">
        <img src="/images/products/{{images}}">
      </div>
    </div>
  </div>
  <div class="half">
    <div class="half-content">
      {{>body}}
    </div>
  </div>
  <div class="clearfix"></div>
</div>
