---
layout: about.hbs
permalink: /history/
title: 企业历史
---
<p><b>1990年</b>，熊虎山（原南方五金）西湖路159号拓地营业，开始创业历程</p>
<p><b>1995年</b>，搬迁至伍家岭</p>
<p><b>1997年</b>，入驻三湘建材大市场</p>
<p><b>1999年</b>，熊虎山（原南方五金）于高桥建材市场拓址营业，经营面积达400平方，经营至今</p>
<p><b>2001年</b>，另湘湖五金大市场拓址营业，经营面积达200平方</p>
<p><b>2004年</b>，办公总部迁至马王堆陶瓷建材市场，楼下经营面积达400平方</p>
<p><b>2006年</b>，正式注册熊虎山第一代商标形象</p>
<p><b>2007底</b>，公司营销总部入驻广州天健国际五金采购中心，同年，我司工厂在佛山顺德容桂小黄圃工业园正式进行制造生产</p>
<p><b>2008年</b>，注册熊虎山第二代商标形象</p>
<p>商海横流，艰苦创业写春秋；</p>
<p>从1990到2010，我们一路从风雨中走来，</p>
<p>用熊的沉稳，用虎的勇敢，山的深沉不断攀登一个个事业的高峰，</p>
<p>每一次路程都记载着我们坚实的足迹，每一次攀登都激励着我们执着的信念。</p>
<p>商道即人道，做事先做人：多少年来，我们秉承着这一伟大的企业精神，</p>
<p>用品牌领导市场潮流，用创新推动五金行业的前进，</p>
<p>将社会和谐作为企业发展的最大责任；</p>
<p>这――便是我们：一个专注高贵经典生活的五金企业，</p>
<p>一个以创造社会和谐为己任的大企业，一个志在打造中国一流五金的大品牌；</p>
<p>这一切，只因为我们有：</p>
<p>一支专业务实团结高效的五金人团队，一群善于追求与思考的实干家，</p>
<p>一种务求精益求精的品质精神，一种用心用情尽善尽美的服务态度……</p>
<p>今天，中国正迈向世界经济的中心，</p>
<p>熊虎山五金愿与您携手共进，共创五金行业辉煌的明天！</p>
