---
layout: about.hbs
permalink: /honors/
title: 企业荣誉
---
<div class="list">
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/zmsb.jpg">
      </div>
      <em class="list-item-name">广东省著名商标</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/iso9001.jpg">
      </div>
      <em class="list-item-name">ISO9001</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/wgzl.jpg">
      </div>
      <em class="list-item-name">外观专利</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/wjppqy.jpg">
      </div>
      <em class="list-item-name">著名五金品牌企业</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/sjppqy.jpg">
      </div>
      <em class="list-item-name">著名锁具品牌企业</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/sdzlpp.jpg">
      </div>
      <em class="list-item-name">十大质量品牌</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/zllxqy.jpg">
      </div>
      <em class="list-item-name">质量领先企业</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/fhyz.jpg">
      </div>
      <em class="list-item-name">建筑材料商会副会员长</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg01.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg02.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg03.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg04.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg05.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg06.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg07.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="list-item">
    <div class="list-item-wrapper">
      <div class="list-item-image">
        <img src="/images/honors/jybg08.jpg">
      </div>
      <em class="list-item-name">检验报告</em>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
