---
layout: about.hbs
permalink: /honors/
---
<p><b>2001-2005年连续5年</b>，被市场评为“文明经营标兵单位”</p>
<p><b>2001年</b>，被质量技术监督局评为“无假冒商品创建示范单位”</p>
<p><b>2002年</b>，被质量技术监督局评为“购物放心创建单位”</p>
<p><b>2002年</b>，被消费者协会评为“消费者信得过单位”</p>
<p><b>2004年</b>，被质量技术监督局评为“质量跟踪要点单位”</p>
<p><b>2005年</b>，评为“省诚信协会会员单位”</p>
<p><b>2006年</b>，被工商行政管理局评为“文明经营标兵单位”</p>
<p><b>2007年</b>，熊虎山五金被确认为“中国著名商标”</p>
