---
layout: about.hbs
permalink: /history/
title: 企业历史
---
<p><img src="/images/pages/history.jpg"></p>
<p><b>1990年</b>，熊虎山（原南方五金）西湖路159号拓地营业，开始创业历程</p>
<p><b>1995年</b>，搬迁至伍家岭</p>
<p><b>1997年</b>，入驻三湘建材大市场</p>
<p><b>1999年</b>，熊虎山（原南方五金）于高桥建材市场拓址营业，经营面积达400平方，经营至今</p>
<p><b>2001年</b>，另湘湖五金大市场拓址营业，经营面积达200平方</p>
<p><b>2004年</b>，办公总部迁至马王堆陶瓷建材市场，楼下经营面积达400平方</p>
<p><b>2006年</b>，正式注册熊虎山第一代商标形象</p>
<p><b>2007底</b>，公司营销总部入驻广州天健国际五金采购中心，同年，我司工厂在佛山顺德容桂小黄圃工业园正式进行制造生产</p>
<p><b>2008年</b>，注册熊虎山第二代商标形象</p>
