---
layout: contact.hbs
permalink: /jobs/
---
<p class="text">
  熊虎山五金实业有限公司是一家集产品开发、生产及经营于一体的综合型实业有限公司，主要生产经营高质量、高品质的精品锁具、轴承合页、精美拉手、道轨、门控类、卫浴类等装饰五金配件。经过近几年的沉淀，该品牌在行业内已成为一个颇具影响力的五金品牌。而今，公司为“熊虎山”五金斥资千万，志在进一步塑造成强劲的一流品牌，现诚邀志同道合者共创辉煌。公司因业务发展诚聘以下人员：
</p>
<p>
  <b>一 、副总经理</b><br>
  岗位职责：<br>
  1、深入执行董事长关于公司的工作计划和经营计划的各项工作。<br>
  2、组织和协调、培训及指导公司各部门的工作，发挥各部门各成员的最大潜力，按照公司要求完成全年的营销任务。<br>
  3、负责公司内外重大事务的决议及安排。<br>
  4、熊虎山品牌全国的市场推广策划及执行。<br>
  5、董事长安排的其它工作。<br>
</p>
<p>
  要求：<br>
  1、大专或以上学历，8年以上管理工作经验。（同行业经验丰富可适当放宽学历要求）<br>
  2、具有独挡一面的能力，能以积极认真负责的工作态度按时按质完成任务<br>
  3、良好的分析、规划和策略思考技能，在对内外都有一定的控制和组织协调能力<br>
  4、良好的沟通及销售能力,有五金行业或其它正规公司销售管理者优先.<br>
  5、外向的性格, 细心，自我激励，注重结果，具备良好的培训员工及团队建设能力<br>
</p>
<p>
  <b>二 、营销总监</b><br>
  岗位职责：<br>
  1、制定全年市场营销战略。<br>
  2、培训及指导业务团队，按照公司要求完成全年的营销任务。<br>
  3、新客户成交促成，老客户售后维护及一般的争议处理。<br>
  4、与公司其它各部门的协调及公司安排的其它事项。<br>
</p>
<p>
  要求：<br>
  1、大专或以上学历，八年以上工作经验。（同行业经验丰富可适当放宽学历要求）<br>
  2、具有独挡一面的能力，能以积极认真负责的工作态度按时按质完成任务<br>
  3、良好的分析、规划和策略思考技能，在对内外都有一定的控制和协调能力<br>
  4、良好的沟通及销售能力,有五金行业或其它正规公司销售管理者优先.<br>
  5、外向的性格, 细心，自我激励，注重结果，具备良好的培训员工及团队建设能力<br>
</p>
<p>
  <b>三、导购</b><br>
  岗位职责：<br>
  1、公司展示厅日常行政工作。<br>
  2、熟悉产品的特点及优点，热情应答顾客，并能够向顾客提供产品知识等建议和安装指导等；<br>
  3、负责门店商品的布货、整理及清洁工作；控制存货量，合理推动商品销售。<br>
</p>
<p>
  任职资格:<br>
  1、高中或以上学历； 一年以上工作经验（限女性）<br>
  2、性格外向，开朗自信，有较强的语言表达能力和人际沟通能力。工作主动积极负责，乐于从事顾客服务工作。<br>
  3、能使用一般的办公设备及电脑软件。<br>
  4、具有五金行业从业经验者优先。<br>
</p>
<p>
  <b>四、跟单</b><br>
  岗位职责：<br>
  1、维护老客户，处理日常的跟单，熟悉产品的特点及优点，提供补货建议及售后服务。<br>
  2、协助市场部开发新客户，与意向客户保持良好的关系，做好前期沟通。<br>
  3、公司安排的其它事务。<br>
</p>
<p>
  要求:<br>
  1.高中或以上学历,一年以上工作经验（限女性）<br>
  2.身体健康，能吃苦耐劳；诚实正直<br>
  3.服务意识好，良好的沟通能力和表达能力，学习能力强；<br>
  4.具有五金行业背景及相关品牌推广者优先。<br>
</p>
<p>
  <b>五、工厂采购</b><br>
  要求：<br>
  1、在五金工厂任采购职位两年以上。<br>
  2、熟悉各种原材料价格以及各种五金件的组成，能独立核算成本。<br>
  3、了解市场信息，能根据市场行情开发新品种。<br>
</p>
<p>
  <b>六、仓管</b><br>
  岗位职责：<br>
  1、负责仓库发货、货物的陈列、数目的清点及日常防损工作.<br>
  2、关注仓库的库存，与门店和采购部保持良好关系，保证门店产品销售供应的及时。<br>
  3、执行公司的各项防损政策、维护仓库安全，完成公司安排的其它任务。<br>
</p>
<p>
  任职资格:<br>
  1、高中或以上学历，一年以上工作经验。<br>
  2、积极主动，能吃苦耐劳，细心负责。<br>
  3、熟悉五金行业或具有仓储工作经验者或有驾照能开车者优先。<br>
</p>
<p>
  <b>七、设计师</b><br>
  岗位职责：<br>
  1.公司日常海报及相关市场宣传图片设计。<br>
  2.公司产品包装设计及包装内其他物品的设计。<br>
  3.公司专卖店的设计及陈列（效果图）。<br>
</p>
<p>
  工作要求：<br>
  1.有一定美术功底基础。<br>
  2.对设计有自己的看法和创意。<br>
  3.热爱设计，懂五金相关行业者优先。<br>
</p>
<p>
  电话：(020)87200098   传真：(020)87046218<br>
  国际互联网：www.xionghushan.com<br>
  E-mail：xionghushan@126.com
</p>
