---
layout: contact.hbs
permalink: /contact/
---
<p>总部地址</p>
<p>营销展示中心：广东佛山市顺德区(容桂)国家级高新产业园华天西二路三号</p>
<p>国内制造基地：广东省佛山市顺德容桂国家级高新产业园华天西二路三号</p>
<p>电话：0757-29265935</p>
<p>传真：0757-29265237</p>
<p>E-mail：xionghushan@126.com</p>
<p>国际长途免费热线：4006-020-198</p>
