---
permalink: /
---
<div class="sliderkit home-slider">
  <div class="sliderkit-nav">
    <div class="sliderkit-nav-clip">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="sliderkit-panels">
    <div class="sliderkit-panel">
      <img src="/images/slide1.jpg" />
    </div>
    <div class="sliderkit-panel">
      <img src="/images/slide1.jpg" />
    </div>
  </div>
</div>
<div class="hr hr-bg"></div>
<div class="col-3">
  <div class="col-3-item">
    <h3>官方淘宝直营店</h3>
    <a href="http://xionghushan.taobao.com/">
      <img src="/images/image1.jpg">
    </a>
  </div>
  <div class="col-3-item">
    <h3>官方阿里巴巴平台</h3>
    <a href="http://shop1393381764998.1688.com/">
      <img src="/images/image1.jpg">
    </a>
  </div>
  <div class="col-3-item">
    <h3>.....</h3>
    <a href="/">
      <img src="/images/image1.jpg">
    </a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="hr hr-bg"></div>
<div class="line">
  <div class="sliderkit" id="bottom-news">
    <div class="sliderkit-legend">
      <a href="/news/">五金资讯</a>：
    </div>
    <div class="sliderkit-panels">
      {{#eachReverseLimit all_news 5}}
        <div class="sliderkit-panel">
          <a href="{{permalink}}">{{title}}</a>
        </div>
      {{/eachReverseLimit}}
    </div>
  </div>
</div>
