---
layout: join.hbs
permalink: /qualifications/
---
<p>申请加盟熊虎山五金品牌，必须具备以下各项条件：</p>

<p>1、有强烈事业心、责任感和良好个人商业信誉，认同熊虎山经营理念，能长期信诚合作，不追求短期眼前利益。</p>

<p>2、具有合法经营资格所需的各种工商证件；有志于从事五金产品的品牌化运营。</p>

<p>3、具备正常经营所需的资金和规范的办公场所；有足够面积的店铺，以便进行品牌产品陈列。</p>

<p>4、认同且愿意执行熊虎山公司相关的市场管理政策、服务规范条约、结算政策、广告促销方案等。</p>

<p>5、具有较强的经营能力和市场推广能力，有良好的客服服务意识和服务能力。</p>

<p>6、能积极配合熊虎山公司开展经销区域内的广告、公关及促销活动，并愿意承担部分广告、公关及促销费用。</p>

<p>7、能完成熊虎山产品经销区域的销售额及其它市场目标，保持品牌影响力的持续稳定增长。</p>

<p>8、按规定建立熊虎山品牌形象店，并能严格按照熊虎山公司VI手册要求装修熊虎山形象店。</p>

<p>9、省级旗舰店面积80平方米以上，地级形象店面积40平方米以上，县级专卖店、店中店面积25平方米以上。</p>

<p>10、有一定的经济能力,必须达到熊虎山规定的首批进货额度，以保证全面品牌化运营。</p>
