---
layout: default.hbs
belongsto: products
permalink: /products/
---
<div class="bread hr-bg">
  当前位置：
  <a href="/">首页</a>
  &raquo;
  <a href="/products/">产品中心</a>
</div>
<div class="panel-container" id="finder-filter">
  <div class="panel">
    <h3>行业分类：<span class="value">不限</span></h3>
    <div class="content">
      <a class="ficon icon-blank active" data-filter="" href="#">不限</a>
      <a class="ficon icon-blank" data-filter=".门锁配套" href="#">门锁配套</a>
      <a class="ficon icon-blank" data-filter=".家具五金" href="#">家具五金</a>
      <a class="ficon icon-blank" data-filter=".门控五金" href="#">门控五金</a>
      <a class="ficon icon-blank" data-filter=".卫浴五金" href="#">卫浴五金</a>
      <div class="clear"></div>
    </div>
  </div>
  <div class="panel">
    <h3>装修场所：<span class="value">不限</span></h3>
    <div class="content">
      <a class="ficon icon-blank active" data-filter="" href="#">不限</a>
      <a class="ficon icon-blank" data-filter=".小区" href="#">小区</a>
      <a class="ficon icon-blank" data-filter=".洋房" href="#">洋房</a>
      <a class="ficon icon-blank" data-filter=".别墅" href="#">别墅</a>
      <a class="ficon icon-blank" data-filter=".宾馆" href="#">宾馆</a>
      <a class="ficon icon-blank" data-filter=".商业地铺" href="#">商业地铺</a>
      <a class="ficon icon-blank" data-filter=".办公楼" href="#">办公楼</a>
      <div class="clear"></div>
    </div>
  </div>
    <div class="panel">
    <h3>装修风格：<span class="value">不限</span></h3>
    <div class="content">
      <a class="ficon icon-blank active" data-filter="" href="#">不限</a>
      <a class="ficon icon-blank" data-filter=".现代简约" href="#">现代简约</a>
      <a class="ficon icon-blank" data-filter=".中式仿古" href="#">中式仿古</a>
      <a class="ficon icon-blank" data-filter=".欧式奢华" href="#">欧式奢华</a>
      <div class="clear"></div>
    </div>
  </div>
    <div class="panel">
    <h3>主要材质：<span class="value">不限</span></h3>
    <div class="content">
      <a class="ficon icon-blank active" data-filter="" href="#">不限</a>
      <a class="ficon icon-blank" data-filter=".纯铜" href="#">纯铜</a>
      <a class="ficon icon-blank" data-filter=".锌合金" href="#">锌合金</a>
      <a class="ficon icon-blank" data-filter=".不锈钢" href="#">不锈钢</a>
      <a class="ficon icon-blank" data-filter=".太空铝" href="#">太空铝</a>
      <a class="ficon icon-blank" data-filter=".冷轧钢" href="#">冷轧钢</a>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="finder" class="finder items">
  {{#eachIndex posts.products}}
    <div class="item {{join item.data.filter ' '}}">
      <a href="{{item.filename}}">
        <img src="/images/products/{{item.data.image}}.jpg">
        <div class="item_title">{{item.data.title}}</div>
      </a>
    </div>
  {{/eachIndex}}
  <div class="clearfix"></div>
</div>
